<form action="/artists/$artist.getId()" method="post">
    <fieldset>
        <p>Name</p>
        <input type="text" name="name" required="true" value=$artist.getName()>
        <input type="submit" value="submit">
    </fieldset>
</form>